{
  "openapi": "3.0.0",
  "info": {
    "title": "Citymapper API",
    "version": "v1.8.3",
    "description": "# Introduction\n\n### Add journey planning and turn-by-turn navigation to your products with our APIs.\n\nOur APIs are powered by our industry-leading global transport data and custom routing algorithms trained on\nbillions of trips.\n\nWith our journey planning APIs you can:\n\n- Calculate public transport routes and travel times\n- Retrieve live departure information for public transport routes\n- Calculate walk, cycling, e-scooter and motor scooter routes and travel times, including turn-by-turn instructions\n\nDeveloping a mobile app? See our iOS and Android SDK [here](/).\n\n&nbsp;\n\n### Other resources\n\n[SDK Docs](/)\n\n[Deep Links](https://citymapper.com/news/2386/launch-citymapper-for-directions)\n\n[Learn more about Powered by Citymapper](https://citymapper.com/enterprise)\n\n# Support\n\n### Have questions?\n\nCheck out our FAQ [here](/support/faq.html).\n\n### Have product feedback or suggestions?\n\nWe'd love to hear about your experiences using our APIs, and features you'd like to see next.\nPlease contribute feedback [here](https://form.jotform.com/213393057055353), and keep an eye out for future\nproduct releases.\n\n### Have a sales question?\n\nIf you are an enterprise user, or require functionality not available in our public APIs, our sales team are\nhere to help.\n\nPlease [contact us](https://citymapper.com/contact/powered) with a description of your project or business\nneed and we'll be in touch.\n\n# Pricing\n\nSee below for our API pricing:\n\n| Travel Time API           | Unit               | Price per Unit                          |\n| ------------------------- | ------------------ | --------------------------------------- |\n| Walk Travel Time          | per 1000 results   | £0.40                                   |\n| Cycle Travel Time         | per 1000 results   | £0.80                                   |\n| E-Scooter Travel Time     | per 1000 results   | £0.80                                   |\n| Motor Scooter Travel Time | per 1000 results   | £0.80                                   |\n| Car Travel Time           | per 1000 results   | £0.80                                   |\n| Transit Travel Time       | per 1000 results   | £1.00                                   |\n\n| Directions API                        | Unit                               | Price per Unit                          |\n| ------------------------------------- | ---------------------------------- | --------------------------------------- |\n| Walk Directions: Fast Profile         | per 1000 results                   | £0.50                                   |\n| Walk Directions: Main Roads Profile   | per 1000 results                   | £0.50                                   |\n| Cycle Directions: Quiet Profile       | per 1000 results                   | £1.00                                   |\n| Cycle Directions: Regular Profile     | per 1000 results                   | £1.00                                   |\n| Cycle Directions: Fast Profile        | per 1000 results                   | £1.00                                   |\n| E-Scooter Directions                  | per 1000 results                   | £1.00                                   |\n| Motor Scooter Directions              | per 1000 results                   | £1.00                                   |\n| Car Directions                        | per 1000 results                   | £1.00                                   |\n| Taxi Directions                       | per 1000 routes<sup>1</sup>        | Available on Enterprise plans only      |\n| Taxi Directions: Real-Time Updates    | per 1000 route updates<sup>1</sup> | Available on Enterprise plans only      |\n| Transit Directions                    | per 1000 routes<sup>2</sup>        | £1.20                                   |\n| Transit Directions: Real-Time Updates | per 1000 route updates<sup>3</sup> | Available on Enterprise plans only      |\n| Hire Vehicle Directions               | per 1000 results                   | Available on Enterprise plans only      |\n\n<sup>1</sup> : Taxi routes and route updates require additional configuration for your access to third-party Taxi provider's APIs.\n\n<sup>2</sup> : Up to 5 transit routes can be returned in a single result.\n\n<sup>3</sup> : One update applies to a single transit route.\n\n### Enterprise plans to help you grow\n\nLooking for additional features or have higher volume requirements? Please [contact our sales team](https://citymapper.com/contact/powered).\n\n### Terms of service\n\nRead the full [terms of service](https://citymapper.com/developer-terms).\n\n### Requests\n\nA request is defined as a single call which successfully returns a travel time, directions or navigation result. Monthly requests are aggregated across all Powered by Citymapper products. If you're not on a paid plan, you’ll be notified via email once you exceed the free usage allowance in a given month (the month-long period aligns with the calendar month). Further requests will no longer return results for the remainder of that month, and your free usage allowance will reset at the start of the next month.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://api.external.citymapper.com"
    },
    {
      "url": "https://[custom-endpoint].external.citymapper.com"
    }
  ],
  "paths": {
    "/api/1/traveltimes": {
      "get": {
        "summary": "Travel times between two locations",
        "tags": [
          "endpoints"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "walk_travel_time_minutes": {
                      "type": "integer",
                      "description": "Estimated walking time between the two given points in minutes",
                      "example": 52
                    },
                    "transit_time_minutes": {
                      "type": "integer",
                      "description": "Estimated public transit travel time between the two given points in minutes",
                      "example": 29
                    },
                    "bike_time_minutes": {
                      "type": "integer",
                      "description": "Estimated bicycle travel time between two points in minutes",
                      "example": 21
                    },
                    "scooter_time_minutes": {
                      "type": "integer",
                      "description": "Estimated e-scooter travel time between two points in minutes",
                      "example": 19
                    },
                    "motorscooter_time_minutes": {
                      "type": "integer",
                      "description": "Estimated motor scooter travel time between two points in minutes",
                      "example": 22
                    },
                    "car_time_minutes": {
                      "type": "integer",
                      "description": "Estimated car travel time between two points in minutes",
                      "example": 20
                    }
                  }
                },
                "examples": {
                  "Success (Default traveltime_types)": {
                    "value": {
                      "walk_travel_time_minutes": 66,
                      "transit_time_minutes": 49
                    }
                  },
                  "Success (Bike & Transit)": {
                    "value": {
                      "bike_time_minutes": 36,
                      "transit_time_minutes": 42
                    }
                  },
                  "Success (All Types)": {
                    "value": {
                      "walk_travel_time_minutes": 66,
                      "bike_time_minutes": 36,
                      "transit_time_minutes": 44,
                      "scooter_time_minutes": 29,
                      "motorscooter_time_minutes": 22,
                      "car_time_minutes": 20
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Start Out of Coverage": {
                    "value": {
                      "message": "start coord is not inside coverage area",
                      "error_code": "coverage-start"
                    }
                  },
                  "End Out of Coverage": {
                    "value": {
                      "message": "end coord is not inside coverage area",
                      "error_code": "coverage-end"
                    }
                  },
                  "Missing Required Parameter": {
                    "value": {
                      "message": "'start' parameter not present",
                      "error_code": "request-format"
                    }
                  },
                  "Bad Input Example": {
                    "value": {
                      "message": "'end' parameter should have format '<latitude>,<longitude>'",
                      "error_code": "request-format"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "operationId": "traveltime",
        "description": "Determines the travel time in various modes of travel between the given two points at the time the request\nis made. If the call returns code `200`, at least one of the `*_time_minutes` fields will be populated.\nOtherwise, a code `400` response will be returned.\n\nA request outside of the API coverage areas will be signaled with a code `400` response containing an\n`error_code` value of `coverage-start` or `coverage-end`. These failures are fast/resource-efficient\nand are not billed, so there's no need to pre-filter potential requests by location.\n\nSuccessful responses (HTTP code `200`) will consume one \"Travel Time\" credit for each\ntime returned. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "51.525246,0.084672"
            },
            "in": "query",
            "description": "The geographical start point of the trip, in WGS84 'latitude,longitude' format.\nCoordinates should be in decimal, and only the first 6 digits of precision will be used.\n",
            "name": "start",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "example": "51.559098,0.074503"
            },
            "in": "query",
            "description": "The geographical end point of the trip, in WGS84 'latitude,longitude' format.\nCoordinates should be in decimal, and only the first 6 digits of precision will be used.\n",
            "name": "end",
            "required": true
          },
          {
            "name": "traveltime_types",
            "description": "A comma-separated list of different travel time types to attempt to request.\nEach request value corresponds to a particular field in the response (response\nfields will only be present when Citymapper was able to calculate a time for\nthat travel time type).\n\n| value | response property | description |\n| ----- | ----------------- | ------------|\n| walk | walk_travel_time_minutes | Walking |\n| transit | transit_time_minutes | Public transit travel |\n| bike | bike_time_minutes | Bicycle travel (riding the entire way) |\n| scooter | scooter_time_minutes | Standing e-scooter travel (riding the entire way) |\n| motorscooter | motorscooter_time_minutes | Seated motor scooter travel (riding the entire way) |\n| car | car_time_minutes | Car travel (riding the entire way). Available on Enterprise plans only |\n\nWhen this field is omitted or empty, a default value of `walk,transit` will be used.\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "walk",
                  "transit",
                  "bike",
                  "scooter",
                  "motorscooter",
                  "car"
                ]
              },
              "example": "bike,transit"
            },
            "in": "query"
          }
        ],
        "security": [
          {
            "API Key": []
          }
        ]
      },
      "parameters": []
    },
    "/api/1/directions/scooterride": {
      "get": {
        "operationId": "scooterridedirections",
        "summary": "E-scooter directions between two points (ride only)",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "Gets a scooter route between two points, providing enough information to render it on a map,\nalong with a duration estimate. (These results are optimized for small battery-powered scooters\nthat the rider stands on.)\n\nThis call assumes that the rider has a scooter at the `start` point, and provides an e-scooter\nroute from there to the `end` point if both are within Citymapper's supported areas. The resulting\nroute should contain a single scooter leg, though the `path_annotations` property of the Leg may\nindicate sections during which the user should walk beside the scooter.\n\nThis call does not incorporate any information about scooter operators' coverage\nor parking areas, but other API calls may be available to do so.\n\nSuccessful responses (HTTP code `200`) will consume one \"Scooter Route\" credit\n(or one \"Scooter Reroute\" credit if `reroute_signature` is used) for each\nHTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/rerouteSignature"
          },
          {
            "$ref": "#/components/parameters/startBearing"
          },
          {
            "$ref": "#/components/parameters/pastLocationsCoordinates"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAges"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAccuracies"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Scooter Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524387,
                              "lon": -0.106324
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.50758,
                              "lon": -0.107744
                            }
                          },
                          "duration_seconds": 797,
                          "legs": [
                            {
                              "travel_mode": "self_piloted",
                              "vehicle_types": [
                                "escooter"
                              ],
                              "duration_seconds": 797,
                              "path": "_flyHbjPDZBTBNDJ",
                              "path_annotations": [
                                {
                                  "start_index": 1,
                                  "end_index": 3,
                                  "should_walk": true
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/scooter": {
      "get": {
        "operationId": "scooterdirections",
        "summary": "E-scooter directions between two points (hire vehicles)",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "**NOTE this API is not available through open access, please contact sales**.\nPlease contact Citymapper using the details provided at the top\nof the page for information on integrating and using this API.\n\nGets an e-scooter route between two points, including any initial and final walks.\nThe resulting Route provides enough information to render it on a map,\nalong with a duration estimate.\nThese results are optimized for small battery-powered scooters that the rider stands on.\n\nThis call can be used in several different ways:\n  \n**Use any scooter of the specified Brand**\n\nThis is the simplest call, only requiring `start`, `end`, and `brand_id`.\nCitymapper assumes that the user is at the `start` point, and chooses a\nscooter of the specified Brand, if possible.\n\n**Use a scooter at a specified location**\n\nBy adding `original_vehicle_location` to `start`, `end`, and `brand_id`,\nCitymapper plans a Route that assumes the scooter is at the given location.\n\n**Update a Route in progress**\n\nIn order to retrieve an updated Route that includes rerouting from the\nuser's current location if they've diverged from the planned Route,\nthe caller can add the `current_location` and `ride_state` properties,\nwhich indicates which Leg of the resulting Route should be rerouted\naround the user's `current_location`.\n\nSuccessful responses (HTTP code `200`) will consume one \"Scooter Route\" credit\n(or one \"Scooter Reroute\" credit if `reroute_signature` is used) for each\nHTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "name": "brand_id",
            "description": "The ID of the Brand of e-scooters to use for this route. This is necessary in order to\ndetermine the location of available scooters, along with any associated coverage and\nparking restrictions.\n",
            "schema": {
              "type": "string",
              "example": "ScooterBrand"
            },
            "in": "query",
            "required": true
          },
          {
            "$ref": "#/components/parameters/directionsRideState"
          },
          {
            "$ref": "#/components/parameters/directionsCurrentLocation"
          },
          {
            "$ref": "#/components/parameters/directionsRideStartLocation"
          },
          {
            "$ref": "#/components/parameters/directionsRideEndLocation"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/rerouteSignature"
          },
          {
            "$ref": "#/components/parameters/startBearing"
          },
          {
            "$ref": "#/components/parameters/pastLocationsCoordinates"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAges"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAccuracies"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Scooter Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524387,
                              "lon": -0.106324
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.50758,
                              "lon": -0.107744
                            }
                          },
                          "duration_seconds": 797,
                          "legs": [
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 211,
                              "path": "_flyHbjPDZBTBNDJ"
                            },
                            {
                              "travel_mode": "self_piloted",
                              "vehicle_types": [
                                "escooter"
                              ],
                              "duration_seconds": 586,
                              "services": {
                                "id": "ScooterBrand",
                                "name": "Scooter Brand",
                                "vehicle_types": [
                                  "escooter"
                                ],
                                "brand": {
                                  "id": "ScooterBrand",
                                  "name": "Scooter Brand",
                                  "image_key": "scooter-brand"
                                },
                                "color": "#000000",
                                "text_color": "#FFFFFF"
                              },
                              "path": "_flyHbjPDZBTBNDJ"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/bikeride": {
      "get": {
        "operationId": "bikeridedirections",
        "summary": "Bike directions between two points (ride only)",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "Gets a bike route between two points, providing enough information to render it on a map, along with a duration estimate.\n\nThis call assumes that the rider has a bicycle at the `start` point, and provides a biking route from there to the `end` point\nif both are within Citymapper's supported areas. The resulting route should contain a single bike leg, though the `path_annotations`\nproperty of the Leg may indicate sections during which the user should walk beside the bike.\n\nThis call does not incorporate any information about bike operators' coverage\nor parking areas, but other API calls may be available to do so.\n\nThe maximum great-circle distance between the start and end is limited to 200km for this API.\n\nSuccessful responses (HTTP code `200`) will consume one \"Bike Route\" credit\n(or one \"Bike Reroute\" credit if `reroute_signature` is used) for each\nHTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/bikeProfiles"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/rerouteSignature"
          },
          {
            "$ref": "#/components/parameters/startBearing"
          },
          {
            "$ref": "#/components/parameters/pastLocationsCoordinates"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAges"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAccuracies"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Bike Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524387,
                              "lon": -0.106324
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.50758,
                              "lon": -0.107744
                            }
                          },
                          "duration_seconds": 797,
                          "legs": [
                            {
                              "travel_mode": "self_piloted",
                              "vehicle_types": [
                                "bike"
                              ],
                              "duration_seconds": 797,
                              "path": "_flyHbjPDZBTBNDJ",
                              "path_annotations": [
                                {
                                  "start_index": 1,
                                  "end_index": 3,
                                  "should_walk": true
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/bike": {
      "get": {
        "operationId": "bikedirections",
        "summary": "Bike directions between two points (hire vehicles)",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "**NOTE this API is not available through open access, please contact sales**.\nPlease contact Citymapper using the details provided at the top\nof the page for information on integrating and using this API.\n\nGets an bike route between two points, including any initial and final walks.\nThe resulting Route provides enough information to render it on a map,\nalong with a duration estimate.\n\nThis call can be used in several different ways:\n  \n**Use any bike of the specified Brand**\n\nThis is the simplest call, only requiring `start`, `end`, and `brand_id`.\nCitymapper assumes that the user is at the `start` point, and chooses a\nbike of the specified Brand, if possible.\n\n**Use a bike at a specified location**\n\nBy adding `original_vehicle_location` to `start`, `end`, and `brand_id`,\nCitymapper plans a Route that assumes the bike is at the given location.\n\n**Update a Route in progress**\n\nIn order to retrieve an updated Route that includes rerouting from the\nuser's current location if they've diverged from the planned Route,\nthe caller can add the `current_location` and `ride_state` properties,\nwhich indicates which Leg of the resulting Route should be rerouted\naround the user's `current_location`.\n\nSuccessful responses (HTTP code `200`) will consume one \"Bike Route\" credit\n(or one \"Bike Reroute\" credit if `reroute_signature` is used) for each\nHTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "name": "brand_id",
            "description": "The ID of the Brand of bike to use for this route. This is necessary in order to\ndetermine the location of available bikes, along with any associated coverage and\nparking restrictions.\n",
            "schema": {
              "type": "string",
              "example": "BikeBrand"
            },
            "in": "query",
            "required": true
          },
          {
            "$ref": "#/components/parameters/directionsRideState"
          },
          {
            "$ref": "#/components/parameters/directionsCurrentLocation"
          },
          {
            "$ref": "#/components/parameters/directionsRideStartLocation"
          },
          {
            "$ref": "#/components/parameters/directionsRideEndLocation"
          },
          {
            "$ref": "#/components/parameters/bikeProfiles"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/rerouteSignature"
          },
          {
            "$ref": "#/components/parameters/startBearing"
          },
          {
            "$ref": "#/components/parameters/pastLocationsCoordinates"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAges"
          },
          {
            "$ref": "#/components/parameters/pastLocationsAccuracies"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Bike Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524387,
                              "lon": -0.106324
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.50758,
                              "lon": -0.107744
                            }
                          },
                          "duration_seconds": 797,
                          "legs": [
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 211,
                              "path": "_flyHbjPDZBTBNDJ"
                            },
                            {
                              "travel_mode": "self_piloted",
                              "vehicle_types": [
                                "bike"
                              ],
                              "duration_seconds": 586,
                              "services": {
                                "id": "BikeBrand",
                                "name": "Bike Brand",
                                "vehicle_types": [
                                  "bike"
                                ],
                                "brand": {
                                  "id": "BikeBrand",
                                  "name": "Bike Brand",
                                  "image_key": "bike-brand"
                                },
                                "color": "#000000",
                                "text_color": "#FFFFFF"
                              },
                              "path": "_flyHbjPDZBTBNDJ"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/motorscooterride": {
      "get": {
        "operationId": "motorscooterridedirections",
        "summary": "Motor scooter directions between two points (ride only)",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "Gets a motorscooter route between two points, providing enough information to render it on a map, along\nwith a duration estimate. (These results are optimized for larger internal combustion or electric scooters\nwhere the rider is seated.)\n\nThis call assumes that the rider has a scooter at the `start` point, and provides an e-scooter route\nfrom there to the `end` point if both are within Citymapper's supported areas. The resulting route should\ncontain a single scooter leg, though the `path_annotations` property of the Leg may indicate sections\nduring which the user should walk beside the scooter.\n\nThis call does not incorporate any information about scooter operators' coverage\nor parking areas, but other API calls may be available to do so.\n\nSuccessful responses (HTTP code `200`) will consume one \"Motor Scooter Route\" credit\n(or one \"Motor Scooter Reroute\" credit if `reroute_signature` is used) for each\nHTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/rerouteSignature"
          },
          {
            "$ref": "#/components/parameters/startBearing"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Scooter Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524387,
                              "lon": -0.106324
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.50758,
                              "lon": -0.107744
                            }
                          },
                          "duration_seconds": 797,
                          "legs": [
                            {
                              "travel_mode": "self_piloted",
                              "vehicle_types": [
                                "motorscooter"
                              ],
                              "duration_seconds": 797,
                              "path": "_flyHbjPDZBTBNDJ",
                              "path_annotations": [
                                {
                                  "start_index": 1,
                                  "end_index": 3,
                                  "should_walk": true
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/motorscooter": {
      "get": {
        "operationId": "motorscooterdirections",
        "summary": "Motor scooter directions between two points (hire vehicles)",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "**NOTE this API is not available through open access, please contact sales**.\nPlease contact Citymapper using the details provided at the top\nof the page for information on integrating and using this API.\n\nGets a motorscooter route between two points, including any initial and final walks.\nThe resulting Route provides enough information to render it on a map,\nalong with a duration estimate.\n(These results are optimized for larger internal combustion or electric scooters\nwhere the rider is seated.)\n\n**NOTE:** The resulting Route currently assumes that the user can ride directly to\nthe specified `end` location, not taking into account any parking or coverage zones.\nThus, the resulting Route will contain only an initial Leg of `travel_mode` `walk`\nand a second Leg of `travel_mode` `self_piloted`. A future update will incorporate\nparking and coverage zones and add a final `walk` Leg.\n\nThis call can be used in several different ways:\n  \n**Use any scooter of the specified Brand**\n\nThis is the simplest call, only requiring `start`, `end`, and `brand_id`.\nCitymapper assumes that the user is at the `start` point, and chooses a\nscooter of the specified Brand, if possible.\n\n**Use a scooter at a specified location**\n\nBy adding `original_vehicle_location` to `start`, `end`, and `brand_id`,\nCitymapper plans a Route that assumes the scooter is at the given location.\n\n**Update a Route in progress**\n\nIn order to retrieve an updated Route that includes rerouting from the\nuser's current location if they've diverged from the planned Route,\nthe caller can add the `current_location` and `ride_state` properties,\nwhich indicates which Leg of the resulting Route should be rerouted\naround the user's `current_location`.\n\nSuccessful responses (HTTP code `200`) will consume one \"Motor Scooter Route\" credit\n(or one \"Motor Scooter Reroute\" credit if `reroute_signature` is used) for each\nHTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "name": "brand_id",
            "description": "The ID of the Brand of scooters to use for this route. This is necessary in order to\ndetermine the location of available scooters, along with any associated coverage and\nparking restrictions.\n",
            "schema": {
              "type": "string",
              "example": "ScooterBrand"
            },
            "in": "query",
            "required": true
          },
          {
            "$ref": "#/components/parameters/directionsRideState"
          },
          {
            "$ref": "#/components/parameters/directionsCurrentLocation"
          },
          {
            "$ref": "#/components/parameters/directionsRideStartLocation"
          },
          {
            "$ref": "#/components/parameters/directionsRideEndLocation"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/rerouteSignature"
          },
          {
            "$ref": "#/components/parameters/startBearing"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Scooter Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524387,
                              "lon": -0.106324
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.50758,
                              "lon": -0.107744
                            }
                          },
                          "duration_seconds": 797,
                          "legs": [
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 211,
                              "path": "_flyHbjPDZBTBNDJ"
                            },
                            {
                              "travel_mode": "self_piloted",
                              "vehicle_types": [
                                "motorscooter"
                              ],
                              "duration_seconds": 586,
                              "services": {
                                "id": "ScooterBrand",
                                "name": "Scooter Brand",
                                "vehicle_types": [
                                  "motorscooter"
                                ],
                                "brand": {
                                  "id": "ScooterBrand",
                                  "name": "Scooter Brand",
                                  "image_key": "scooter-brand"
                                },
                                "color": "#000000",
                                "text_color": "#FFFFFF"
                              },
                              "path": "_flyHbjPDZBTBNDJ"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/taxi": {
      "get": {
        "operationId": "taxidirections",
        "summary": "Taxi directions between two points",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "**NOTE this API is not generally available through open access, please contact sales**.\nA number of integrations for Taxi providers are available.\nPlease contact Citymapper using the details provided at the top\nof the page for information on integrating and using this API.\n\nGets a taxi route between two points.\nThe resulting Route provides enough information to render it on a map,\nalong with a duration estimate.\nThe Route may contain starting and ending walk Legs if the pick-up or drop-off points\naren't close to the requested start and end coordinates.\n\nThe Services in the response will vary depending on the local availability, time\nof day and, additionally, which Taxi API integrations have been configured for your account.\n\nThere are two recommended ways to use this API: You can request a taxi Route with live\non-demand service estimates included up-front by calling with `?fetch_on_demand_services=true`;\nor you can make the initial request without fetching estimates which will respond with\nthe non-live route, then immediately call `1/live/routeupdates` to get the additional live estimates.\nThe first approach is simpler, but the second may better fit your use-case.\n\nSuccessful responses (HTTP code `200`) will consume one \"Taxi Route\" credit\nfor each HTTP response. Unsuccessful calls will not consume any credits.\n\n**NOTE** use of this API may involve sending end-user location data to Third-Parties\nfor the purposes of providing live on-demand service estimates.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "name": "fetch_on_demand_services",
            "description": "If set to `\"true\"`, additional information will be requested from your Taxi API integrations\nto provide more accurate and complete pricing, duration and service availability,\nreturned in the on-demand Leg's updatable detail.\n\nTo provide this, the Route's start and end locations need to be transmitted to these\nThird-Party APIs, including in the case that one or the other is the user's current\nor recent location.\n\nBe aware that you may need to have explicit informed consent from your end-user\nto set this to `\"true\"` depending on applicable laws and regulations.\n\nIf set to `\"false\"` or omitted, no requests will be made to any Third-Party APIs.\n",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "false"
            },
            "in": "query"
          },
          {
            "name": "brand_ids",
            "description": "Comma-separated list of Brand IDs to limit this directions request to.\n\nIf omitted (default), all brands available to you will have a Taxi route returned.\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "TaxiBrand,anothertaxi"
            },
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Taxi Route with live services included": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.507662,
                              "lon": -0.107549
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.521295,
                              "lon": -0.081549
                            }
                          },
                          "distance_meters": 3240,
                          "duration_seconds": 1026,
                          "duration_accuracy": "live",
                          "price": {
                            "formatted": "£10-13",
                            "currency": "GBP",
                            "demand_multiplier": 1,
                            "amount_range_minimum": "10.00",
                            "amount_range_maximum": "13.00"
                          },
                          "legs": [
                            {
                              "duration_seconds": 786,
                              "path": "}akyH`_Td@KDARGd@OLEAQI_A?KAW?]?_@?u@?]?Y@w@?C?g@@_B?U?O?M?O?OUAE?IAWGI?M?K?k@AE?GGK@OAM?G?I?SBMBQ@KLw@@u@CkCEaA?aBCG?Y?O@I@YDQDOBI@OBG?M?GCECQSGGGKGIEQECEAEMEMEKCIEOACCMCQGo@AWKOEw@DO?KA[?EA_@?K?W?K?c@EQ?O?SDeA?KDOBe@B}A@[FmCBi@@e@@e@?UBe@?QBs@?I@U@S?M@i@?G?K@IAI?U@G@G?m@CUAO@ICqAFQA[AS?UAMAMAOCUCWAOCU?GAKGa@C[MeAESMeAAK?CGICOC[@QIk@Gi@IKCOCMAIGi@Gc@ESAKGm@G[AG@SAMUuAO}@E[CQKs@Ic@CMAOUuAGIAGCKCKGSGQ@a@@GBg@?G@QEKCOCUWHC@ED[Tk@\\GDSLe@Xi@ZWNE@GAEAOIQIECGCGCECw@SEAGCg@MOCAAC?IEWGa@M_@KSGEAKC[ICA[I}@UKEUGGAEASGYIICGCKEECc@SKGIBKE{@a@CAECMEOIGCUK]Q_@OUMGCIGOIIIH[BG@GH_@Rw@BS@GBONs@Hc@DGDOkAw@wA{@CCu@a@u@a@GCQGFg@DOLq@VmAX_BBOF_@Fo@?KAMCMEOQc@o@wAOW{@qA_@a@GECC[U[QGCGCOGEC",
                              "updatable_detail": {
                                "leg_departure_time": "2022-08-24T12:23:06.241759+00:00",
                                "leg_arrival_time": "2022-08-24T12:36:12.241759+00:00",
                                "live_service_estimate_availability": "included",
                                "on_demand_service_estimates": [
                                  {
                                    "service": {
                                      "id": "cab_taxicab",
                                      "name": "Black Cab",
                                      "vehicle_types": [
                                        "car"
                                      ],
                                      "brand": {
                                        "id": "TaxiCab",
                                        "name": "Cab",
                                        "images": [
                                          {
                                            "url": "https://d3440lt1d9mf95.cloudfront.net/aaa783b309a8c749b2b694552b7647a5bbae317eab35e29d370f33f6/d324a6fb/@2x.png",
                                            "width": 40,
                                            "height": 24,
                                            "ui_role": "summary"
                                          },
                                          {
                                            "url": "https://d1a19ub1xx68i2.cloudfront.net/01274400dd23089d4184d73f4a54b2eb20a31cd6f42bfbe12582c7ce/d324a6fb/@2x.png",
                                            "width": 24,
                                            "height": 24,
                                            "ui_role": "summary",
                                            "is_generic": true
                                          }
                                        ]
                                      },
                                      "images": [
                                        {
                                          "url": "https://d3440lt1d9mf95.cloudfront.net/7514781b44626ed639932c5b1a7c2fc16e470951c9dec306fae4a023/d324a6fb/@2x.png",
                                          "width": 32,
                                          "height": 20,
                                          "ui_role": "vehicle"
                                        },
                                        {
                                          "url": "https://d3440lt1d9mf95.cloudfront.net/18adfb4492ef4f4cd6315de22345d952c59cdb5486a9dc2c3403399e/d324a6fb/@2x.png",
                                          "width": 24,
                                          "height": 24,
                                          "ui_role": "service"
                                        },
                                        {
                                          "url": "https://d1a19ub1xx68i2.cloudfront.net/f4d3aadfece8d8b30d22691edbebea19a71d28cd78d33e41b1f5fccb/d324a6fb/@2x.png",
                                          "width": 32,
                                          "height": 20,
                                          "ui_role": "vehicle",
                                          "is_generic": true
                                        }
                                      ],
                                      "third_party_app": {
                                        "name": "CabApp",
                                        "images": [
                                          {
                                            "url": "https://d1a19ub1xx68i2.cloudfront.net/f10db4323eb280872910b475f651b105124f48a0e76dfafe02008652/d324a6fb/@2x.png",
                                            "width": 24,
                                            "height": 24,
                                            "ui_role": "icon"
                                          }
                                        ],
                                        "branding_color": "#000000",
                                        "branding_text_color": "#FFFFFF",
                                        "android_app_id": "com.cabapp",
                                        "ios_app_id": "469463298"
                                      }
                                    },
                                    "estimate_accuracy": "live",
                                    "suggested": true,
                                    "pickup_eta_seconds": 240,
                                    "price": {
                                      "formatted": "£10-13",
                                      "currency": "GBP",
                                      "demand_multiplier": 1,
                                      "amount_range_minimum": "10.00",
                                      "amount_range_maximum": "13.00"
                                    },
                                    "external_booking_deep_link": "cabapp://?pickup[latitude]=51.507662&pickup[longitude]=-0.107549&dropoff[latitude]=51.521295&dropoff[longitude]=-0.081549&action=setPickup"
                                  }
                                ]
                              },
                              "travel_mode": "on_demand",
                              "vehicle_types": [
                                "car"
                              ],
                              "service_brands": [
                                {
                                  "id": "TaxiCab",
                                  "name": "Cab",
                                  "images": [
                                    {
                                      "url": "https://d3440lt1d9mf95.cloudfront.net/aaa783b309a8c749b2b694552b7647a5bbae317eab35e29d370f33f6/d324a6fb/@2x.png",
                                      "width": 40,
                                      "height": 24,
                                      "ui_role": "summary"
                                    },
                                    {
                                      "url": "https://d1a19ub1xx68i2.cloudfront.net/01274400dd23089d4184d73f4a54b2eb20a31cd6f42bfbe12582c7ce/d324a6fb/@2x.png",
                                      "width": 24,
                                      "height": 24,
                                      "ui_role": "summary",
                                      "is_generic": true
                                    }
                                  ]
                                }
                              ]
                            }
                          ],
                          "route_departure_time": "2022-08-24T12:19:06.241759+00:00",
                          "route_arrival_time": "2022-08-24T12:36:12.241759+00:00",
                          "signature": "v2.eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJjbTp0YXhpMSIsImlhdCI6MTY2MTM0MzU0Niwic3JjIjoidGF4aV9xdW90ZSIsInR0bCI6MzYwMCwicGFjayI6IntcImRtXCI6MzI0MCxcImRzXCI6MTAyNixcImVjXCI6XCI1MS41MjEyOTUsLTAuMDgxNTQ5XCIsXCJsXCI6W3tcImJcIjpbXCJUYXhpQ2FiXCJdLFwiZHNcIjo3ODYsXCJlY1wiOlwiNTEuNTIxMjcsLTAuMDgxNFwiLFwibVwiOlwib25fZGVtYW5kXCIsXCJzY1wiOlwiNTEuNTA3NjcsLTAuMTA3NTNcIn1dLFwic2NcIjpcIjUxLjUwNzY2MiwtMC4xMDc1NDlcIixcInZcIjpcIjFcIn0iLCJzdGFydCI6eyJsYXQiOjUxLjUwNzY2MiwibG5nIjotMC4xMDc1NDl9LCJlbmQiOnsibGF0Ijo1MS41MjEyOTUsImxuZyI6LTAuMDgxNTQ5fSwicmVnaW9uX2lkIjoidWstbG9uZG9uIn0.nfG4DD-EBEhL8GeEOnOh1G-Y-rjmjAaQEInePbfaFe8",
                          "requested_time_type": "depart_approximate"
                        }
                      ]
                    }
                  },
                  "Sample Taxi Route with estimated or unknown services": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.507662,
                              "lon": -0.107549
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.521295,
                              "lon": -0.081549
                            }
                          },
                          "distance_meters": 3240,
                          "duration_seconds": 1286,
                          "duration_accuracy": "estimated",
                          "legs": [
                            {
                              "duration_seconds": 786,
                              "path": "}akyH`_Td@KDARGd@OLEAQI_A?KAW?]?_@?u@?]?Y@w@?C?g@@_B?U?O?M?O?OUAE?IAWGI?M?K?k@AE?GGK@OAM?G?I?SBMBQ@KLw@@u@CkCEaA?aBCG?Y?O@I@YDQDOBI@OBG?M?GCECQSGGGKGIEQECEAEMEMEKCIEOACCMCQGo@AWKOEw@DO?KA[?EA_@?K?W?K?c@EQ?O?SDeA?KDOBe@B}A@[FmCBi@@e@@e@?UBe@?QBs@?I@U@S?M@i@?G?K@IAI?U@G@G?m@CUAO@ICqAFQA[AS?UAMAMAOCUCWAOCU?GAKGa@C[MeAESMeAAK?CGICOC[@QIk@Gi@IKCOCMAIGi@Gc@ESAKGm@G[AG@SAMUuAO}@E[CQKs@Ic@CMAOUuAGIAGCKCKGSGQ@a@@GBg@?G@QEKCOCUWHC@ED[Tk@\\GDSLe@Xi@ZWNE@GAEAOIQIECGCGCECw@SEAGCg@MOCAAC?IEWGa@M_@KSGEAKC[ICA[I}@UKEUGGAEASGYIICGCKEECc@SKGIBKE{@a@CAECMEOIGCUK]Q_@OUMGCIGOIIIH[BG@GH_@Rw@BS@GBONs@Hc@DGDOkAw@wA{@CCu@a@u@a@GCQGFg@DOLq@VmAX_BBOF_@Fo@?KAMCMEOQc@o@wAOW{@qA_@a@GECC[U[QGCGCOGEC",
                              "updatable_detail": {
                                "leg_departure_time": "2022-08-24T12:23:06.241759+00:00",
                                "leg_arrival_time": "2022-08-24T12:36:12.241759+00:00",
                                "live_service_estimate_availability": "additional_request"
                              },
                              "travel_mode": "on_demand",
                              "vehicle_types": [
                                "car"
                              ],
                              "service_brands": [
                                {
                                  "id": "TaxiCab",
                                  "name": "Cab",
                                  "images": [
                                    {
                                      "url": "https://d3440lt1d9mf95.cloudfront.net/aaa783b309a8c749b2b694552b7647a5bbae317eab35e29d370f33f6/d324a6fb/@2x.png",
                                      "width": 40,
                                      "height": 24,
                                      "ui_role": "summary"
                                    },
                                    {
                                      "url": "https://d1a19ub1xx68i2.cloudfront.net/01274400dd23089d4184d73f4a54b2eb20a31cd6f42bfbe12582c7ce/d324a6fb/@2x.png",
                                      "width": 24,
                                      "height": 24,
                                      "ui_role": "summary",
                                      "is_generic": true
                                    }
                                  ]
                                }
                              ]
                            }
                          ],
                          "route_departure_time": "2022-08-24T12:19:06.241759+00:00",
                          "route_arrival_time": "2022-08-24T12:36:12.241759+00:00",
                          "signature": "v2.eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJjbTp0YXhpMSIsImlhdCI6MTY2MTM0MzU0Niwic3JjIjoidGF4aV9xdW90ZSIsInR0bCI6MzYwMCwicGFjayI6IntcImRtXCI6MzI0MCxcImRzXCI6MTAyNixcImVjXCI6XCI1MS41MjEyOTUsLTAuMDgxNTQ5XCIsXCJsXCI6W3tcImJcIjpbXCJUYXhpQ2FiXCJdLFwiZHNcIjo3ODYsXCJlY1wiOlwiNTEuNTIxMjcsLTAuMDgxNFwiLFwibVwiOlwib25fZGVtYW5kXCIsXCJzY1wiOlwiNTEuNTA3NjcsLTAuMTA3NTNcIn1dLFwic2NcIjpcIjUxLjUwNzY2MiwtMC4xMDc1NDlcIixcInZcIjpcIjFcIn0iLCJzdGFydCI6eyJsYXQiOjUxLjUwNzY2MiwibG5nIjotMC4xMDc1NDl9LCJlbmQiOnsibGF0Ijo1MS41MjEyOTUsImxuZyI6LTAuMDgxNTQ5fSwicmVnaW9uX2lkIjoidWstbG9uZG9uIn0.nfG4DD-EBEhL8GeEOnOh1G-Y-rjmjAaQEInePbfaFe8\"",
                          "requested_time_type": "depart_approximate"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/walk": {
      "get": {
        "operationId": "walkdirections",
        "summary": "Walking directions between two points",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "Gets a walking route between two points, providing enough information to render it on a map, along\nwith a duration estimate.\n\nWalking routes are expected to have a single Leg with a `travel_mode` of `walk`.\n\nIf Citymapper can't compute walking directions for those points (generally for coverage reasons),\nthe API will return a code `400` response.\n\nThe maximum great-circle distance between the `start` and `end` is limited to 100km for this API.\n\nSuccessful responses (HTTP code `200`) will consume one \"Walk Route\" credit\n(or one \"Walk Reroute\" credit if `reroute_signature` is used) for each\nHTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/walkProfiles"
          },
          {
            "$ref": "#/components/parameters/rerouteSignature"
          },
          {
            "$ref": "#/components/parameters/startBearing"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Walk": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524247,
                              "lon": -0.10641
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.507752,
                              "lon": -0.110081
                            }
                          },
                          "duration_seconds": 1854,
                          "legs": [
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 1854,
                              "path": "shxgaBdwnEZMzBiAv@?j@XnJ~JhBhBdCtDfEzGpDkEzA{BpE}G`KoOv@kALo@Cw@uC_NOwBImCH{CRuAd@mBhAmCtAaCzCkD`DmCjAwAnJjYzEdS~GpYl@e@`CjJzHbXj@`B|AlAXa@tA{@hBoArB}AxBcB~N_LvBuArFiDAwA\\i@vIsFzOmJ|AaApAk@rEqBbQwHdGqBzCnBtBq@`KgCt@Q~F_B`G}A~@UlEaAr@ORE\\GbB_@RG`DcApFcAAEbAUvLiChBg@nE{@xPkDz@Y`C_@`BKbE]dFzFbAMzAt@rMmAfFe@jE}@tI{A|AYxCk@zCiBvEeDdAU`ScBdAg@hD[vSwCle@yGlGy@bDc@z@Mt@Fp@x@~@d@\\@r@CjL}AzGeA~h@sHrIuAdFi@xAYfEi@xF{@bAKxZiElQcBj@ExCShFQd`@Ah_@l@C`BfHn@pCjB~JpKfGzJ\\e@t@{@\\k@`@s@j@PnBYlBw@vCaBnCsANCpCNz@_@hC{@nCu@tCMbC?hdCdEtD]pDMxJ}@bAgAbACG~TARMhf@j@jAGbU^nYZ~GnBlQNh@nCvKpC~KtBdMr@~DV|EH|r@LtDRrBP|A~@xEv@~D_BhB_@~Ik@lH}DlEoAd@rB`S`A@BlM",
                              "instructions": [
                                {
                                  "path_index": 0,
                                  "description_text": "Walk South on Clerkenwell Close",
                                  "type": "depart"
                                },
                                {
                                  "path_index": 3,
                                  "distance_meters": 12,
                                  "time_seconds": 9,
                                  "description_text": "Turn right onto Clerkenwell Close",
                                  "type": "turn",
                                  "type_direction": "right"
                                },
                                {
                                  "path_index": 8,
                                  "distance_meters": 59,
                                  "time_seconds": 44,
                                  "description_text": "Turn left onto Clerkenwell Close",
                                  "type": "turn",
                                  "type_direction": "left"
                                },
                                {
                                  "path_index": 26,
                                  "distance_meters": 150,
                                  "time_seconds": 118,
                                  "description_text": "Turn right onto Clerkenwell Green",
                                  "type": "turn",
                                  "type_direction": "right"
                                },
                                {
                                  "path_index": 33,
                                  "distance_meters": 149,
                                  "time_seconds": 112,
                                  "description_text": "Turn left onto Farringdon Road",
                                  "type": "turn",
                                  "type_direction": "left"
                                },
                                {
                                  "path_index": 76,
                                  "distance_meters": 447,
                                  "time_seconds": 367,
                                  "description_text": "Slight right onto Farringdon Street",
                                  "type": "turn",
                                  "type_direction": "slight_right"
                                },
                                {
                                  "path_index": 117,
                                  "distance_meters": 739,
                                  "time_seconds": 561,
                                  "description_text": "Turn right onto Watergate",
                                  "type": "turn",
                                  "type_direction": "right"
                                },
                                {
                                  "path_index": 118,
                                  "distance_meters": 3,
                                  "time_seconds": 3,
                                  "description_text": "Turn left",
                                  "type": "turn",
                                  "type_direction": "left"
                                },
                                {
                                  "path_index": 122,
                                  "distance_meters": 71,
                                  "time_seconds": 53,
                                  "description_text": "Turn left",
                                  "type": "turn",
                                  "type_direction": "left"
                                },
                                {
                                  "path_index": 144,
                                  "distance_meters": 375,
                                  "time_seconds": 282,
                                  "description_text": "Turn right",
                                  "type": "turn",
                                  "type_direction": "right"
                                },
                                {
                                  "path_index": 148,
                                  "distance_meters": 72,
                                  "time_seconds": 54,
                                  "description_text": "Continue straight on Upper Ground",
                                  "type": "turn",
                                  "type_direction": "straight"
                                },
                                {
                                  "path_index": 164,
                                  "distance_meters": 239,
                                  "time_seconds": 185,
                                  "description_text": "Turn right",
                                  "type": "turn",
                                  "type_direction": "right"
                                },
                                {
                                  "path_index": 167,
                                  "distance_meters": 30,
                                  "time_seconds": 22,
                                  "description_text": "Turn right",
                                  "type": "turn",
                                  "type_direction": "right"
                                },
                                {
                                  "path_index": 169,
                                  "distance_meters": 17,
                                  "time_seconds": 13,
                                  "description_text": "Turn left",
                                  "type": "turn",
                                  "type_direction": "left"
                                },
                                {
                                  "path_index": 170,
                                  "distance_meters": 23,
                                  "time_seconds": 17,
                                  "description_text": "Turn left",
                                  "type": "turn",
                                  "type_direction": "left"
                                },
                                {
                                  "path_index": 171,
                                  "distance_meters": 4,
                                  "time_seconds": 3,
                                  "description_text": "Turn right",
                                  "type": "turn",
                                  "type_direction": "right"
                                },
                                {
                                  "path_index": 172,
                                  "distance_meters": 16,
                                  "time_seconds": 12,
                                  "description_text": "Arrive at your destination",
                                  "type": "arrive"
                                }
                              ]
                            }
                          ],
                          "signature": "v1.eJxtkMtOwzAQRf9ltjjp2InrxF9AN2UBEguEUBS7lWliV44DQlX+nUlCWVB2fsy952gu0AafrE+gL2DG2CQXPGheyZKB9WZ+bkOIZgANkucSlZKCZZhzjlhxmBh09ki/L5R3Q2p8a0GLEiW77Wt/S6piLcG63gKDPhhKwWfTneg2XOdEKeQ6ti0UsV4ZRHtcGmE8ZV3whs4USE1MN6qULtVPvFxMk+tnjECBGeeZKJ44ai60kHeIGnGzf3jePd5T44eNw8IR07KHc3DzjuAQl3WZzXsYo7dfCq5Kb878sZppZNaf/0fmNQmqaiXD9A0DoW3iLrtbq3uV5gbbkpyVbELQf6gVXGh9"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/carride": {
      "get": {
        "operationId": "carridedirections",
        "summary": "Car directions between two points (ride only)",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "Gets a car route between two points, providing enough information to render it on a map, along with a duration estimate.\n\nThis call assumes that the rider has a car at the `start` point, and provides a car route from there to the `end` point\nif both are within Citymapper's supported areas. The resulting route should contain a single car leg.\n\nThe maximum great-circle distance between the start and end is limited to 1000km for this API.\n\nSuccessful responses (HTTP code `200`) will consume one \"Car Route\" credit for each HTTP response. \nUnsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Sample Car Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 51.524387,
                              "lon": -0.106324
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 51.50758,
                              "lon": -0.107744
                            }
                          },
                          "duration_seconds": 1086,
                          "legs": [
                            {
                              "travel_mode": "self_piloted",
                              "vehicle_types": [
                                "car"
                              ],
                              "duration_seconds": 1086,
                              "path": "_flyHbjPDZBTBNDJ"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/1/directions/transit": {
      "get": {
        "operationId": "transitdirections",
        "summary": "Transit directions between two points",
        "tags": [
          "endpoints"
        ],
        "security": [
          {
            "API Key": []
          }
        ],
        "description": "Computes several public transportation routes between two points.\n\nBy default, the results will contain up to 5 Routes. Each one will contain several\nLegs: usually one at the start and end of the Route with `travel_mode` of `walk`, with at least\none with `travel_mode` of `transit` in between.\n\nSuccessful responses (HTTP code `200`) will consume one \"Transit Route\" credit\nfor each HTTP response. Unsuccessful calls will not consume any credits.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/routeStartEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/routeEndEndpointCoordinate"
          },
          {
            "$ref": "#/components/parameters/time"
          },
          {
            "$ref": "#/components/parameters/timeType"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of Routes to return.",
            "example": 3,
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                },
                "examples": {
                  "Chelsea Market to JFK": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
                              "lat": 40.74244,
                              "lon": -74.006144
                            }
                          },
                          "end": {
                            "coordinates": {
                              "lat": 40.643351,
                              "lon": -73.7892
                            }
                          },
                          "duration_seconds": 3628,
                          "route_departure_time": "2020-08-19T08:10:21-04:00",
                          "route_arrival_time": "2020-08-19T09:11:08-04:00",
                          "price": {
                            "formatted": "$18.25",
                            "amount": "18.25",
                            "currency": "USD"
                          },
                          "legs": [
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 474,
                              "path": "_flyHbjPDZBTBNDJ",
                              "updatable_detail": {
                                "leg_departure_time": "2020-08-19T08:10:21-04:00",
                                "leg_arrival_time": "2020-08-19T08:18:15-04:00"
                              }
                            },
                            {
                              "travel_mode": "transit",
                              "vehicle_types": [
                                "subway",
                                "metro",
                                "rail"
                              ],
                              "duration_seconds": 240,
                              "services": [
                                {
                                  "id": "C",
                                  "name": "C",
                                  "vehicle_types": [
                                    "subway",
                                    "metro",
                                    "rail"
                                  ],
                                  "brand": {
                                    "id": "NewYorkSubway",
                                    "image_key": "us-nyc-subway"
                                  },
                                  "image_key": "us-nyc-subway-c",
                                  "image_replaces_name": true,
                                  "color": "#2850AD",
                                  "background_color": "#2850AD",
                                  "text_color": "#FFFFFF"
                                },
                                {
                                  "id": "E",
                                  "name": "E",
                                  "vehicle_types": [
                                    "subway",
                                    "metro",
                                    "rail"
                                  ],
                                  "brand": {
                                    "id": "NewYorkSubway",
                                    "image_key": "us-nyc-subway"
                                  },
                                  "image_key": "us-nyc-subway-e",
                                  "image_replaces_name": true,
                                  "color": "#2850AD",
                                  "background_color": "#2850AD",
                                  "text_color": "#FFFFFF"
                                }
                              ],
                              "path": "_flyHbjPDZBTBNDJ",
                              "stops": [
                                {
                                  "id": "Subway8Av14St",
                                  "name": "8 Av - 14 St",
                                  "coordinates": {
                                    "lat": 40.740893,
                                    "lon": -74.00169
                                  }
                                },
                                {
                                  "id": "Subway23StCE",
                                  "name": "23 St",
                                  "coordinates": {
                                    "lat": 40.745906,
                                    "lon": -73.998041
                                  }
                                },
                                {
                                  "id": "Subway34StPennStationACE",
                                  "name": "34 St - Penn Station",
                                  "coordinates": {
                                    "lat": 40.752287,
                                    "lon": -73.993391
                                  }
                                }
                              ],
                              "updatable_detail": {
                                "departures": [
                                  {
                                    "service_id": "E",
                                    "type": "frequency",
                                    "frequency_seconds_range": [
                                      188,
                                      188
                                    ],
                                    "platform_description": "Uptown"
                                  },
                                  {
                                    "service_id": "C",
                                    "type": "frequency",
                                    "frequency_seconds_range": [
                                      720,
                                      1080
                                    ],
                                    "platform_description": "Uptown"
                                  }
                                ],
                                "live_departure_availability": "additional_request",
                                "statuses": [
                                  {
                                    "type": "travel_affected",
                                    "title": "Changed Frequency",
                                    "description": "<C> trains are running approximately every 12-18 minutes between 168 St and Euclid Av.",
                                    "service_ids": [
                                      "C"
                                    ]
                                  },
                                  {
                                    "type": "travel_affected",
                                    "title": "Changed Frequency",
                                    "description": "<E> trains are running approximately every 6-8 minutes between Jamaica Center - Parsons/Archer and World Trade Center.",
                                    "service_ids": [
                                      "E"
                                    ]
                                  }
                                ],
                                "leg_departure_time": "2020-08-19T08:21:30-04:00",
                                "leg_arrival_time": "2020-08-19T08:25:30-04:00"
                              }
                            },
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 200,
                              "path": "_flyHbjPDZBTBNDJ",
                              "updatable_detail": {
                                "leg_departure_time": "2020-08-19T08:25:30-04:00",
                                "leg_arrival_time": "2020-08-19T08:28:50-04:00"
                              }
                            },
                            {
                              "travel_mode": "transit",
                              "vehicle_types": [
                                "rail"
                              ],
                              "duration_seconds": 1380,
                              "services": [
                                {
                                  "id": "LIRRBabylon",
                                  "name": "Babylon",
                                  "vehicle_types": [
                                    "rail"
                                  ],
                                  "brand": {
                                    "id": "LIRR",
                                    "image_key": "us-nyc-lirr"
                                  },
                                  "image_key": "us-nyc-lirr-babylon",
                                  "image_replaces_name": false,
                                  "color": "#00985F",
                                  "background_color": "#00985F",
                                  "text_color": "#FFFFFF"
                                },
                                {
                                  "id": "LIRRLongBeach",
                                  "name": "Lg Beach",
                                  "vehicle_types": [
                                    "rail"
                                  ],
                                  "brand": {
                                    "id": "LIRR",
                                    "image_key": "us-nyc-lirr"
                                  },
                                  "image_key": "us-nyc-lirr-long-beach",
                                  "image_replaces_name": false,
                                  "color": "#FF6319",
                                  "background_color": "#FF6319",
                                  "text_color": "#FFFFFF"
                                },
                                {
                                  "id": "LIRRPortJefferson",
                                  "name": "Port Jeff",
                                  "vehicle_types": [
                                    "rail"
                                  ],
                                  "brand": {
                                    "id": "LIRR",
                                    "image_key": "us-nyc-lirr"
                                  },
                                  "image_key": "us-nyc-lirr-port-jefferson",
                                  "image_replaces_name": false,
                                  "color": "#0039A6",
                                  "background_color": "#0039A6",
                                  "text_color": "#FFFFFF"
                                },
                                {
                                  "id": "LIRRRonkonkoma",
                                  "name": "Ronkonkoma",
                                  "vehicle_types": [
                                    "rail"
                                  ],
                                  "brand": {
                                    "id": "LIRR",
                                    "image_key": "us-nyc-lirr"
                                  },
                                  "image_key": "us-nyc-lirr-ronkonkoma",
                                  "image_replaces_name": false,
                                  "color": "#A626AA",
                                  "background_color": "#A626AA",
                                  "text_color": "#FFFFFF"
                                }
                              ],
                              "path": "_flyHbjPDZBTBNDJ",
                              "stops": [
                                {
                                  "id": "RailStationPennStation",
                                  "name": "New York Penn",
                                  "coordinates": {
                                    "lat": 40.750239,
                                    "lon": -73.992829
                                  }
                                },
                                {
                                  "id": "RailStationForestHills",
                                  "name": "Forest Hills",
                                  "coordinates": {
                                    "lat": 40.719576,
                                    "lon": -73.844814
                                  }
                                },
                                {
                                  "id": "RailStationKewGardens",
                                  "name": "Kew Gardens",
                                  "coordinates": {
                                    "lat": 40.709649,
                                    "lon": -73.830888
                                  }
                                },
                                {
                                  "id": "RailStationJamaica",
                                  "name": "Jamaica",
                                  "coordinates": {
                                    "lat": 40.6996,
                                    "lon": -73.80853
                                  }
                                }
                              ],
                              "updatable_detail": {
                                "departures": [
                                  {
                                    "service_id": "LIRRBabylon",
                                    "type": "scheduled",
                                    "scheduled_time": "2020-08-19T08:33:00-04:00",
                                    "short_name": "28",
                                    "frequency_seconds_range": [
                                      188,
                                      188
                                    ],
                                    "platform_description": "Uptown"
                                  }
                                ],
                                "live_departure_availability": "additional_request",
                                "statuses": [
                                  {
                                    "type": "travel_affected",
                                    "title": "Service Alert",
                                    "description": "About 90% of our regular weekday trains are running. While we're running on the Essential Schedule, off peak fares remain in effect on all LIRR trains, including trains operating in traditional peak/rush hour time periods. To minimize contact with crew members, use MTA eTix on smartphones and activate eTix just before boarding. Ticket machines are available at most stations for cash &amp; credit card purchases. Remember: If you're using MTA services, you must wear a face covering (mask/bandana/scarf) at the station and for the entire duration of your train ride.",
                                    "service_ids": [
                                      "LIRRBabylon",
                                      "LIRRLongBeach",
                                      "LIRRPortJefferson",
                                      "LIRRRonkonkoma"
                                    ]
                                  }
                                ],
                                "leg_departure_time": "2020-08-19T08:33:00-04:00",
                                "leg_arrival_time": "2020-08-19T08:56:00-04:00"
                              }
                            },
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 60,
                              "path": "_flyHbjPDZBTBNDJ",
                              "updatable_detail": {
                                "leg_departure_time": "2020-08-19T08:56:00-04:00",
                                "leg_arrival_time": "2020-08-19T08:57:00-04:00"
                              }
                            },
                            {
                              "travel_mode": "transit",
                              "vehicle_types": [
                                "metro",
                                "rail"
                              ],
                              "duration_seconds": 420,
                              "services": [
                                {
                                  "id": "AirTrainAirtrainjfk",
                                  "name": "AirTrain JFK",
                                  "vehicle_types": [
                                    "metro",
                                    "rail"
                                  ],
                                  "brand": {
                                    "id": "AirTrain",
                                    "image_key": "us-nyc-airtrain"
                                  },
                                  "image_key": "us-nyc-airtrain-jfk",
                                  "image_replaces_name": true,
                                  "color": "#008CD1",
                                  "background_color": "#008CD1"
                                }
                              ],
                              "path": "_flyHbjPDZBTBNDJ",
                              "stops": [
                                {
                                  "id": "AirTrainJamaica",
                                  "name": "Jamaica",
                                  "coordinates": {
                                    "lat": 40.6989,
                                    "lon": -73.80845
                                  }
                                },
                                {
                                  "id": "AirTrainFederalCircle",
                                  "name": "Federal Circle",
                                  "coordinates": {
                                    "lat": 40.65982,
                                    "lon": -73.80349
                                  }
                                },
                                {
                                  "id": "AirTrainJFKTerminal1",
                                  "name": "Terminal 1",
                                  "coordinates": {
                                    "lat": 40.643378,
                                    "lon": -73.789097
                                  }
                                }
                              ],
                              "updatable_detail": {
                                "departures": [
                                  {
                                    "service_id": "AirTrainAirtrainjfk",
                                    "type": "frequency",
                                    "frequency_seconds_range": [
                                      750,
                                      750
                                    ],
                                    "platform_description": "Airport Terminals"
                                  },
                                  {
                                    "service_id": "C",
                                    "type": "frequency",
                                    "frequency_seconds_range": [
                                      720,
                                      1080
                                    ],
                                    "platform_description": "Uptown"
                                  }
                                ],
                                "live_departure_availability": "none_available",
                                "leg_departure_time": "2020-08-19T09:02:30-04:00",
                                "leg_arrival_time": "2020-08-19T09:09:30-04:00"
                              }
                            },
                            {
                              "travel_mode": "walk",
                              "duration_seconds": 98,
                              "path": "_flyHbjPDZBTBNDJ",
                              "updatable_detail": {
                                "leg_departure_time": "2020-08-19T09:09:30-04:00",
                                "leg_arrival_time": "2020-08-19T09:11:08-04:00"
                              }
                            }
                          ],
                          "signature": "eJyNUl2P0zAQ/CuRX0mOtWMncR9B3IdAgFQQD6dTZOKlyjVnF9vhkKL+d+ykRaEPJyQ/2Lvj2ZnRTqRTjmwyxkSdZ0SPToXemlihpYBYQaPjYyJKa4fexzuhBctuVfjR46B9nn2wRluTbd/RTH6+ybOv70n811nr9AwX9EpALaq8gCsKdQ1l6hv1hP9HdozoR9f2RuPv+COJGnCXqO8nonsflOkSFZMXDhhLBezOIhiHkwjJkoQnq2cJz2rYp7dfITldkFVZJQHTmrem8m8whEsAWsqSb9eUwSnj+5BKzo4B237O4p4s/t6MvirJQ5oZlAtnHuCM1jOPD/bQdnY0qdcsAlZOK3nhlJb/OI1xy1Pc4mWn0LCTU84ackySDq7vsD3gMovOW+Bwt0wi474YZg9nb73ZtQ5/juhDdJkgDWje8AqK70qLgoOoCykoFoyXkgvAqqkbsvI+XSxLSr8+xy/peltKlr0d0O3RPOMwxLv1mGfXyrkoI4lKyxL6BcyAQQFNQdkXKjfxMPYK6Abg9cdP3+62t4n4Fzp/yvD4B94v0po=",
                          "requested_time_type": "depart_approximate"
                        }
                      ],
                      "language": "en-US"
                    }
                  },
                  "London Bus Route": {
                    "value": {
                      "routes": [
                        {
                          "start": {
                            "coordinates": {
[...]
